$primary-color-dark: #455a64;
$primary-color: #607d8b;
$primary-color-light: #cfd8dc;
$primary-color-text: #ffffff;
$accent-color: #448aff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body {
  font-family: 'Roboto', sans-serif;
  color: $secondary-text-color;
  //background-image: linear-gradient(90deg, $primary-color 20%, $divider-color 80%);
  //background: linear-gradient(180deg, $primary-color 20%, $divider-color 80%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.card {
  padding: 0.5em 1em;
  border-radius: 0.25em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-height: 200px;
}

.btn {
  border-radius: 4px;
  padding: 0.7em;
  display: block;

  overflow: hidden;

  border-width: 0;
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

  background-color: $primary-color;
  color: #ecf0f1;

  transition: background-color .3s;
}

.row {
  display: flex;
  width: 100%;
}

.flex-center {
  justify-content: center;
}

.column {
  flex: 1;
  margin: 0.5em;
}

#root {
  height: 100%;
}

#create-task {
  max-width: 500px;
  width: 100%;
}

#task-swim-lanes {
  width: 100%;
}

form {
  width: 100%;

  .form-group {
    width: 100%;

    label {
      width: 100%;
      margin-top: 0.5em;
      display: block;
    }

    input {
      transition: 0.4s;
      width: 100%;
      font-size: max(16px, 1em);
      padding: 0.25em 0.5em;
      margin-top: 0.5em;
      background-color: #fff;
      border: 1px solid $divider-color;
      border-radius: 4px;
    }

    textarea {
      width: 100%;
      font-size: max(16px, 1em);
      padding: 0.25em 0.5em;
      margin-top: 0.5em;
      background-color: #fff;
      border: 1px solid $divider-color;
      border-radius: 4px;
    }
  }
}

.description {
  font-style: italic;
}

.btn-group {
  display: flex;
  margin-top: 0.5em;
  justify-content: end;

  .btn {
    margin-left: 0.5em;
  }
}
